<template>
<div>
  <h1>UseForm</h1>
  <div>
    <label>Email: </label>
    <input v-model="email"
    class="useForm_input_email" type="email" name="useFormEmail">
  </div><br>
  <div>
    <label>Idade: </label>
    <input v-model="idade"
    class="useForm_input_idade" type="number" name="useFormIdade">
    <br><br>
    <span v-show="this.idade.length > 0 &&!isValidIdade">
      Idade não permitida!!
    </span><br><br>
  </div><br>
  <div>
    <label>SO: </label>
    <select v-model="so" class="useForm_select_so">
      <option v-for="s in sos" :key="s" :value="s">{{s}}</option>
    </select>
  </div><br>
  <span v-show="isFormCompleted" class="form__span_error_message_login">
      Parabéns!!
  </span><br>
</div>
</template>

<script>

import { mapState } from 'vuex';

export default {
  data: () => ({
    email: '',
    idade: '',
    sos: ['', 'Windows', 'Linux'],
    so: '',
  }),

  computed: {

    ...mapState('login', ['Email']),

    isFormCompleted() {
      const {
        validateEmail, formateEmail, validateIdade, validateSo, email, idade, so,
      } = this;

      return validateEmail(email)
      && formateEmail(email)
      && validateIdade(idade)
      && validateSo(so);
    },

    isValidEmail() {
      const {
        formateEmail, validateEmail, email,
      } = this;

      return formateEmail(email)
      && validateEmail(email);
    },

    isValidIdade() {
      const {
        validateIdade, idade,
      } = this;

      return validateIdade(idade);
    },

    isValidSo() {
      const {
        validateSo, so,
      } = this;

      return validateSo(so);
    },

  },

  methods: {

    formateEmail(string) {
      const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

      return re.test(String(string).toLowerCase());
    },

    validateEmail(string) {
      if (string && string.length > 0 && string === localStorage.getItem('Email')) {
        return true;
      }
      return false;
    },

    validateIdade(string) {
      if (string && string.length > 0 && string > 18 && string < 99) {
        return true;
      }
      return false;
    },

    validateSo(string) {
      if (string && string.length > 0) {
        return true;
      }
      return false;
    },
  },
};
</script>

<style>

</style>
